<div class="container">

    <h1>Peepo's Store Departments</h1>
    <div class="wrapper">
        <div *ngFor="let department of departmentsList" class="card">
            <div class='card-body'>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">{{ department.departmentName }}</h5>
                            <h6 class="card-subtitle half">{{ department.departmentDescription }}</h6>
                            <div [ngSwitch]="department.id">
                                <a *ngSwitchCase="1" href="/departments/videogames" class="card-link">See more {{ department.departmentName }}</a>
                                <a *ngSwitchCase="2" href="/departments/moviesshows" class="card-link">See more {{ department.departmentName }}</a>
                                <a *ngSwitchCase="3" href="/departments/music" class="card-link">See more {{ department.departmentName }}</a>
                                <a *ngSwitchDefault href="/departments" class="card-link">Back to Departments</a>
                            </div>
                        </div>
                        <div class="col">
                            some content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
