<div class="container">
    <div class="jumbotron">
        <img src="/assets/images/fun/peepoHappy.png">
        <h1 class="display-4">{{ welcomeMessage }}</h1>
        <p class="lead">{{ summary }}</p>
    </div>
</div>
