
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <ul class='nav nav-pills'>
            <a class="navbar-brand" routerLink="/">
                <img src="/assets/images/fun/hypers_large.png" width="40" height="40" alt="">
            </a>
            <li class="nav-item active">
                <a class="nav-link"  routerLink="/welcome">Welcome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/departments">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/products">Products</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
