<div class="card">
    <div class="card-header">
        {{ message }}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>On Sale?</th>
                    <th>Star Rating</th>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productList">
                        <td> {{ product.productName }}</td>
                        <td> {{ product.productPrice }}</td>
                        <td> {{ product.productDescription }}</td>
                        <td> {{ product.productOnSale }}</td>
                        <td> {{ product.productStarRating }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


