<div class="container">
    <div class="card">
        <div class="card-body">
            <div>
                <span>{{ suggestMessage }}</span>
            </div>
            <div class="suggestion-button">
                <button class="btn btn-primary" type="button" (click)="openSuggestionModal()">Suggest a Game</button>
            </div>
        </div>
    </div>
</div>
