<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let game of videogames">
                <div>Title: {{ game.name }}</div>
                <div>Platform: {{ game.platform }}</div>
                <div>
                    <button class="btn btn-primary" (click)="setSelectedGame(game)">See More Details</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="col">
        <video-game-details [selectedGameInput]="selectedGame" (sendAddedGame)="addGameToCart($event)"></video-game-details>
        <video-game-cart [item]="addedGame"></video-game-cart>
        <video-game-suggestion></video-game-suggestion>
    </div>
</div>
