<div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Shopping Cart</h5>
                <div class="container">
                    <div class="row" *ngFor="let item of cartList; let indexItem=index">
                        <div class="col-md-4 col-sm-4">
                            {{ item.name }}
                        </div>
                        <div class="col-md-4 col-sm-4">
                            {{ item.price | currency : 'USD' }}
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button type="button"
                                    class="btn btn-link remove-button"
                                    (click)="removeFromCart(indexItem)">Remove</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">Total</div>
                        <div class="col-md-8 col-sm-8 col-xs-6">{{ total | currency : 'USD' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
