<div class="modal-header">
    <h4 class="modal-title">Suggestion Form</h4>
    <button class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <img src="/assets/images/fun/peepoNotes_medium.png">
    <form [formGroup]="form">
        <div class="form-group">
            <label class="form-label font-weight-bold">Title</label>
            <input class="form-control" id="gameTitle" type="text" formControlName="titleControl"/>
        </div>
        <div class="form-group">
            <label class="form-label font-weight-bold">Publisher</label>
            <input class="form-control" id="gamePublisher" type="text" formControlName="publisherControl"/>
        </div>
        <div class="form-group">
            <div class="form-label font-weight-bold">Platform</div>
            <div *ngFor="let platform of platforms; let i=index" class="row" style="margin-bottom: 10px;">
                <label for="platform.value" class="form-check-label col" style="margin-left: 15px;">{{platform.name}}</label>
                <input class="form-control form-check-input col" id="platform.value" type="radio" [value]="platform.value" formControlName="platformControl"/>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label form-check-label font-weight-bold">Genre</label>
            <input class="form-control" id="gameGenre" type="text" formControlName="genreControl"/>
        </div>
        <div class="form-group">
            <label class="form-label font-weight-bold">Estimated Price</label>
            <input class="form-control" id="gameEstimatedPrice" type="number" formControlName="estimatedPriceControl"/>
        </div>
        <div class="btn-group" role="group" aria-label="Modal Button Group">

            <button class="btn btn-secondary" (click)="form.reset()">Clear</button>
            <button class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
        </div>

    </form>
</div>
<div class="modal-footer">
    <br>Dirty: {{ form.dirty }}
    <br>Touched: {{ form.touched }}
    <br>Valid: {{ form.valid }}
    <br>Value: {{ form.value | json }}
</div>


