
<div *ngIf="currentGame">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h5 class="card-title">{{ currentGame.name }}</h5>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" (click)="addGame(currentGame.id)">Add Game</button>
                    </div>
                </div>
                <div>Developers: {{ currentGame.developers }}</div>
                <div>Publisher: {{ currentGame.publisher }}</div>
                <div>Summary: {{ currentGame.summary }}</div>
                <div>Genres: {{ currentGame.genres }}</div>
                <div>Platform: {{ currentGame.platform }}</div>
                <div>Website: {{ currentGame.website }}</div>
                <div>NA Release Date: {{ currentGame.release_date_NA }}</div>
                <div *ngIf="currentGame.release_date_EUR">EU Release Date: {{ currentGame.release_date_EUR }}</div>
                <div *ngIf="currentGame.release_date_JP">JP Release Date: {{ currentGame.release_date_JP }}</div>
                <div *ngIf="currentGame.release_date_AUS">AUS Release Date: {{ currentGame.release_date_AUS }}</div>
                <div>Price: {{ currentGame.price | currency: 'USD' }}</div>
                <div *ngIf="currentGame.esrb_rating">ESRB: {{ currentGame.esrb_rating }}</div>
                <div>More Information: {{ currentGame.extended_information }}</div>
            </div>
        </div>
    </div>
</div>



