<div class="container">
    <h1>Video Games</h1>
    <video-games-list></video-games-list>

    <div>
        <button class="btn btn-primary back-button" (click)="backToDepartments()">Back to Departments</button>
    </div>
</div>
